<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>贝贝组测试</title>
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/index.css">
</head>

<body>
    <div class="add">测试</div>
    <div class="add">1:正确，2:错误，3:未知</div>
    <div class="add" id="num"></div>
    <ul class="container" id="ul1">
        <li class="inf-list" id="result">
            <span title="name">query</span>
            <span title="email">main-question1</span>
            <span title="phone">main-question2</span>
        </li>
    </ul>
    <button id="btn" type="button" style="width:80px;height:40px;position: absolute;left: 50%;margin-left: -25px;">提交按钮</button>
    <script>
        window.onload = function(){
            var xhr;
            if(window.XMLHttpRequest){
                xhr = new XMLHttpRequest();
            }
            else{
                xhr = new ActiveXObject('Microsoft.XMLHTTP');
            }
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4){
                    if(xhr.status == 200){
                        //var text = unescape(xhr.responseText.replace(/\\u/g, '%u'));
                        const text = xhr.responseText;
                        const js = JSON.parse(text).result;
                        var total = '';
                        for(var i=0;i<js.length;i++){
                            var item = js[i];
                            var index = JSON.stringify(item.id);
                            var num = parseInt(index);
                            total += ('<li class="inf-list" name="list" id="inf-list' + index + '">');
                            total += ('<span id="span' + (3*num+1).toString() + '" title="name">' + 'id:' + index + ' ' + JSON.stringify(item.query) + '</span>');
                            total += ('<span id="span' + (3*num+2).toString() + '" title="email">' + JSON.stringify(item.main_question1) + '<input id="input' + (2*num+1).toString() + '" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,"")" style="text-align: center;display:block;width:20px"></span>');
                            total += ('<span id="span' + (3*num+3).toString() + '" title="phone">' + JSON.stringify(item.main_question2) + '<input id="input' + (2*num+2).toString() + '" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,"")" style="text-align: center;display:block;width:20px"></span>');
                            total += '</li>';
                        }
                        const father = document.getElementById('ul1');
                        father.innerHTML += total;
                        var num = father.children.length;
                        num--;
                        //document.getElementById('num').innerText = (document.getElementById('span22').innerText.split(':')[1].split(' ')[0]);
                        document.getElementById('num').innerText = ('数据的总数为: ' + num.toString());
                    }
                }
            };
            xhr.open('get','/info',true);
            xhr.send();
        }
        // POST 数据格式
        //{
        //    "result":[
        //    {"id":0,"main_question1":"1","main_question2":"2"},
        //    {"id":1,"main_question1":"2","main_question2":"3"}
        //    ]
        //}
        document.getElementById('btn').onclick = function(){
            const father = document.getElementById('ul1');
            var num = father.children.length;
            num--;
            var result = '{"result":[';
            for(var i=1;i<=num;i++){
                var span1 = 'span' + (3*i-2).toString();
                var input1 = 'input' + (2*i-1).toString();
                var input2 = 'input' + (2*i).toString();
                var text1 = document.getElementById(span1).innerText;
                var text2 = document.getElementById(input1).value;
                var text3 = document.getElementById(input2).value;
                result += '{"id":';
                result += text1.split(':')[1].split(' ')[0];
                result += ',';
                result += '"main_question1":"';
                result += text2;
                result += '","main_question2":"';
                result += text3;
                result += '"}';
                if(i!=num){
                    result += ',';
                }
            }
            result += ']}';
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/info", true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("kbn-version", "5.3.0");
            xhr.send(JSON.stringify(result));
        }
    </script>
    <script type="text/javascript" src="./static/javascripts/index.js"></script>
</body>
</html>

