
            <li class="inf-list" name="list" id="inf-list1">
                <span id="span1" title="name">id:0 会员卡规则 </span>
                <span id="span2" title="email">贝贝会员卡具体规则<input id="input1" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span3" title="phone">贝贝会员卡具体规则<input id="input2" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list2">
                <span id="span4" title="name">id:1 会员卡规则 </span>
                <span id="span5" title="email">贝贝会员卡具体规则<input id="input3" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span6" title="phone">贝贝会员卡具体规则<input id="input4" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list3">
                <span id="span7" title="name">id:2 会员卡规则 </span>
                <span id="span8" title="email">贝贝会员卡具体规则<input id="input5" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span9" title="phone">贝贝会员卡具体规则<input id="input6" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list4">
                <span id="span10" title="name">id:3 会员卡规则 </span>
                <span id="span11" title="email">贝贝会员卡具体规则<input id="input7" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span12" title="phone">贝贝会员卡具体规则<input id="input8" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list5">
                <span id="span13" title="name">id:4 会员卡规则 </span>
                <span id="span14" title="email">贝贝会员卡具体规则<input id="input9" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span15" title="phone">贝贝会员卡具体规则<input id="input10" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list6">
                <span id="span16" title="name">id:5 会员卡规则 </span>
                <span id="span17" title="email">贝贝会员卡具体规则<input id="input11" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span18" title="phone">贝贝会员卡具体规则<input id="input12" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list7">
                <span id="span19" title="name">id:6 会员卡规则 </span>
                <span id="span20" title="email">贝贝会员卡具体规则<input id="input13" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span21" title="phone">贝贝会员卡具体规则<input id="input14" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list8">
                <span id="span22" title="name">id:7 会员卡规则 </span>
                <span id="span23" title="email">贝贝会员卡具体规则<input id="input15" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span24" title="phone">贝贝会员卡具体规则<input id="input16" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list9">
                <span id="span25" title="name">id:8 会员卡规则 </span>
                <span id="span26" title="email">贝贝会员卡具体规则<input id="input17" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span27" title="phone">贝贝会员卡具体规则<input id="input18" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list10">
                <span id="span28" title="name">id:9 会员卡规则 </span>
                <span id="span29" title="email">贝贝会员卡具体规则<input id="input19" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span30" title="phone">贝贝会员卡具体规则<input id="input20" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list11">
                <span id="span31" title="name">id:10 会员卡规则 </span>
                <span id="span32" title="email">贝贝会员卡具体规则<input id="input21" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span33" title="phone">贝贝会员卡具体规则<input id="input22" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list12">
                <span id="span34" title="name">id:11 会员卡规则 </span>
                <span id="span35" title="email">贝贝会员卡具体规则<input id="input23" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span36" title="phone">贝贝会员卡具体规则<input id="input24" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list13">
                <span id="span37" title="name">id:12 会员卡规则 </span>
                <span id="span38" title="email">贝贝会员卡具体规则<input id="input25" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span39" title="phone">贝贝会员卡具体规则<input id="input26" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list14">
                <span id="span40" title="name">id:13 会员卡规则 </span>
                <span id="span41" title="email">贝贝会员卡具体规则<input id="input27" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span42" title="phone">贝贝会员卡具体规则<input id="input28" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list15">
                <span id="span43" title="name">id:14 会员卡规则 </span>
                <span id="span44" title="email">贝贝会员卡具体规则<input id="input29" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span45" title="phone">贝贝会员卡具体规则<input id="input30" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list16">
                <span id="span46" title="name">id:15 会员卡规则 </span>
                <span id="span47" title="email">贝贝会员卡具体规则<input id="input31" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span48" title="phone">贝贝会员卡具体规则<input id="input32" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list17">
                <span id="span49" title="name">id:16 会员卡规则 </span>
                <span id="span50" title="email">贝贝会员卡具体规则<input id="input33" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span51" title="phone">贝贝会员卡具体规则<input id="input34" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list18">
                <span id="span52" title="name">id:17 会员卡规则 </span>
                <span id="span53" title="email">贝贝会员卡具体规则<input id="input35" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span54" title="phone">贝贝会员卡具体规则<input id="input36" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list19">
                <span id="span55" title="name">id:18 会员卡规则 </span>
                <span id="span56" title="email">贝贝会员卡具体规则<input id="input37" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span57" title="phone">贝贝会员卡具体规则<input id="input38" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list20">
                <span id="span58" title="name">id:19 会员卡规则 </span>
                <span id="span59" title="email">贝贝会员卡具体规则<input id="input39" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span60" title="phone">贝贝会员卡具体规则<input id="input40" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list21">
                <span id="span61" title="name">id:20 会员卡规则 </span>
                <span id="span62" title="email">贝贝会员卡具体规则<input id="input41" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span63" title="phone">贝贝会员卡具体规则<input id="input42" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list22">
                <span id="span64" title="name">id:21 会员卡规则 </span>
                <span id="span65" title="email">贝贝会员卡具体规则<input id="input43" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span66" title="phone">贝贝会员卡具体规则<input id="input44" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list23">
                <span id="span67" title="name">id:22 会员卡规则 </span>
                <span id="span68" title="email">贝贝会员卡具体规则<input id="input45" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span69" title="phone">贝贝会员卡具体规则<input id="input46" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list24">
                <span id="span70" title="name">id:23 会员卡规则 </span>
                <span id="span71" title="email">贝贝会员卡具体规则<input id="input47" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span72" title="phone">贝贝会员卡具体规则<input id="input48" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list25">
                <span id="span73" title="name">id:24 会员卡规则 </span>
                <span id="span74" title="email">贝贝会员卡具体规则<input id="input49" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span75" title="phone">贝贝会员卡具体规则<input id="input50" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list26">
                <span id="span76" title="name">id:25 会员卡规则 </span>
                <span id="span77" title="email">贝贝会员卡具体规则<input id="input51" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span78" title="phone">贝贝会员卡具体规则<input id="input52" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list27">
                <span id="span79" title="name">id:26 会员卡规则 </span>
                <span id="span80" title="email">贝贝会员卡具体规则<input id="input53" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span81" title="phone">贝贝会员卡具体规则<input id="input54" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list28">
                <span id="span82" title="name">id:27 会员卡规则 </span>
                <span id="span83" title="email">贝贝会员卡具体规则<input id="input55" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span84" title="phone">贝贝会员卡具体规则<input id="input56" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list29">
                <span id="span85" title="name">id:28 会员卡规则 </span>
                <span id="span86" title="email">贝贝会员卡具体规则<input id="input57" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span87" title="phone">贝贝会员卡具体规则<input id="input58" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list30">
                <span id="span88" title="name">id:29 会员卡规则 </span>
                <span id="span89" title="email">贝贝会员卡具体规则<input id="input59" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span90" title="phone">贝贝会员卡具体规则<input id="input60" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list31">
                <span id="span91" title="name">id:30 会员卡规则 </span>
                <span id="span92" title="email">贝贝会员卡具体规则<input id="input61" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span93" title="phone">贝贝会员卡具体规则<input id="input62" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list32">
                <span id="span94" title="name">id:31 会员卡规则 </span>
                <span id="span95" title="email">贝贝会员卡具体规则<input id="input63" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span96" title="phone">贝贝会员卡具体规则<input id="input64" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list33">
                <span id="span97" title="name">id:32 会员卡规则 </span>
                <span id="span98" title="email">贝贝会员卡具体规则<input id="input65" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span99" title="phone">贝贝会员卡具体规则<input id="input66" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list34">
                <span id="span100" title="name">id:33 会员卡规则 </span>
                <span id="span101" title="email">贝贝会员卡具体规则<input id="input67" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span102" title="phone">贝贝会员卡具体规则<input id="input68" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list35">
                <span id="span103" title="name">id:34 会员卡规则 </span>
                <span id="span104" title="email">贝贝会员卡具体规则<input id="input69" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span105" title="phone">贝贝会员卡具体规则<input id="input70" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list36">
                <span id="span106" title="name">id:35 会员卡规则 </span>
                <span id="span107" title="email">贝贝会员卡具体规则<input id="input71" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span108" title="phone">贝贝会员卡具体规则<input id="input72" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list37">
                <span id="span109" title="name">id:36 会员卡规则 </span>
                <span id="span110" title="email">贝贝会员卡具体规则<input id="input73" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span111" title="phone">贝贝会员卡具体规则<input id="input74" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list38">
                <span id="span112" title="name">id:37 会员卡规则 </span>
                <span id="span113" title="email">贝贝会员卡具体规则<input id="input75" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span114" title="phone">贝贝会员卡具体规则<input id="input76" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list39">
                <span id="span115" title="name">id:38 会员卡规则 </span>
                <span id="span116" title="email">贝贝会员卡具体规则<input id="input77" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span117" title="phone">贝贝会员卡具体规则<input id="input78" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list40">
                <span id="span118" title="name">id:39 会员卡规则 </span>
                <span id="span119" title="email">贝贝会员卡具体规则<input id="input79" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span120" title="phone">贝贝会员卡具体规则<input id="input80" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list41">
                <span id="span121" title="name">id:40 会员卡规则 </span>
                <span id="span122" title="email">贝贝会员卡具体规则<input id="input81" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span123" title="phone">贝贝会员卡具体规则<input id="input82" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list42">
                <span id="span124" title="name">id:41 会员卡规则 </span>
                <span id="span125" title="email">贝贝会员卡具体规则<input id="input83" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span126" title="phone">贝贝会员卡具体规则<input id="input84" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list43">
                <span id="span127" title="name">id:42 会员卡规则 </span>
                <span id="span128" title="email">贝贝会员卡具体规则<input id="input85" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span129" title="phone">贝贝会员卡具体规则<input id="input86" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list44">
                <span id="span130" title="name">id:43 会员卡规则 </span>
                <span id="span131" title="email">贝贝会员卡具体规则<input id="input87" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span132" title="phone">贝贝会员卡具体规则<input id="input88" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list45">
                <span id="span133" title="name">id:44 会员卡规则 </span>
                <span id="span134" title="email">贝贝会员卡具体规则<input id="input89" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span135" title="phone">贝贝会员卡具体规则<input id="input90" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list46">
                <span id="span136" title="name">id:45 会员卡规则 </span>
                <span id="span137" title="email">贝贝会员卡具体规则<input id="input91" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span138" title="phone">贝贝会员卡具体规则<input id="input92" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list47">
                <span id="span139" title="name">id:46 会员卡规则 </span>
                <span id="span140" title="email">贝贝会员卡具体规则<input id="input93" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span141" title="phone">贝贝会员卡具体规则<input id="input94" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list48">
                <span id="span142" title="name">id:47 会员卡规则 </span>
                <span id="span143" title="email">贝贝会员卡具体规则<input id="input95" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span144" title="phone">贝贝会员卡具体规则<input id="input96" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list49">
                <span id="span145" title="name">id:48 会员卡规则 </span>
                <span id="span146" title="email">贝贝会员卡具体规则<input id="input97" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span147" title="phone">贝贝会员卡具体规则<input id="input98" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list50">
                <span id="span148" title="name">id:49 会员卡规则 </span>
                <span id="span149" title="email">贝贝会员卡具体规则<input id="input99" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span150" title="phone">贝贝会员卡具体规则<input id="input100" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list51">
                <span id="span151" title="name">id:50 会员卡规则 </span>
                <span id="span152" title="email">贝贝会员卡具体规则<input id="input101" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span153" title="phone">贝贝会员卡具体规则<input id="input102" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list52">
                <span id="span154" title="name">id:51 会员卡规则 </span>
                <span id="span155" title="email">贝贝会员卡具体规则<input id="input103" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span156" title="phone">贝贝会员卡具体规则<input id="input104" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list53">
                <span id="span157" title="name">id:52 会员卡规则 </span>
                <span id="span158" title="email">贝贝会员卡具体规则<input id="input105" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span159" title="phone">贝贝会员卡具体规则<input id="input106" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list54">
                <span id="span160" title="name">id:53 会员卡规则 </span>
                <span id="span161" title="email">贝贝会员卡具体规则<input id="input107" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span162" title="phone">贝贝会员卡具体规则<input id="input108" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list55">
                <span id="span163" title="name">id:54 会员卡规则 </span>
                <span id="span164" title="email">贝贝会员卡具体规则<input id="input109" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span165" title="phone">贝贝会员卡具体规则<input id="input110" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list56">
                <span id="span166" title="name">id:55 会员卡规则 </span>
                <span id="span167" title="email">贝贝会员卡具体规则<input id="input111" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span168" title="phone">贝贝会员卡具体规则<input id="input112" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list57">
                <span id="span169" title="name">id:56 会员卡规则 </span>
                <span id="span170" title="email">贝贝会员卡具体规则<input id="input113" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span171" title="phone">贝贝会员卡具体规则<input id="input114" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list58">
                <span id="span172" title="name">id:57 会员卡规则 </span>
                <span id="span173" title="email">贝贝会员卡具体规则<input id="input115" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span174" title="phone">贝贝会员卡具体规则<input id="input116" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list59">
                <span id="span175" title="name">id:58 会员卡规则 </span>
                <span id="span176" title="email">贝贝会员卡具体规则<input id="input117" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span177" title="phone">贝贝会员卡具体规则<input id="input118" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list60">
                <span id="span178" title="name">id:59 会员卡规则 </span>
                <span id="span179" title="email">贝贝会员卡具体规则<input id="input119" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span180" title="phone">贝贝会员卡具体规则<input id="input120" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            