
            <li class="inf-list" name="list" id="inf-list1">
                <span id="span1" title="name">id:57 会员卡规则 </span>
                <span id="span2" title="email">贝贝会员卡具体规则<input id="input1" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span3" title="phone">贝贝会员卡具体规则<input id="input2" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list2">
                <span id="span4" title="name">id:58 会员卡规则 </span>
                <span id="span5" title="email">贝贝会员卡具体规则<input id="input3" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span6" title="phone">贝贝会员卡具体规则<input id="input4" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            

            <li class="inf-list" name="list" id="inf-list3">
                <span id="span7" title="name">id:59 会员卡规则 </span>
                <span id="span8" title="email">贝贝会员卡具体规则<input id="input5" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
                <span id="span9" title="phone">贝贝会员卡具体规则<input id="input6" type="text" maxlength="1" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" style="text-align: center;display:block;width:20px"></span>
            </li>
            